html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: none;
}
a {
    margin:0;padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,select {
    vertical-align: middle;
}
body {
    font-family: Verdana, Geneva, sans-serif;
}

/* these were seperate for some reason */

html, body {
	background: #CFD6D6;
	overflow: hidden;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#mainFrame {
	width: 100%;
	position: relative;
    height: 100%;
    border: 0;
}
#mainWrapper {
    width: 100%;
}
#device{
	height: 100%;
	width: 100%;
}

#wrapIframe {
    width: 100%;
    height: 100%;
}
#footerke {
	height: 20px;
	font-size: 11px;
	line-height: 20px;
	padding: 0 10px;
	text-align: right;
	background: #eeeef6;
}
